@model List<UserFoodItemViewModel>

@{
    ViewData["Title"] = "Mina Matvaror";
}
    @* A row with explanations of all of teh colors and options for searching, filtering and sorting the data *@
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex gap-2">
            Utgångsdatum:
            <span class="d-flex gap-1 align-items-center">
                <div class="bg-expired border border-dark" style="width: 20px; height: 20px;"></div>
                < idag
            </span>
            <span class="d-flex gap-1 align-items-center">
                <div class="bg-critical border border-dark" style="width: 20px; height: 20px;"></div>
                < 3 dagar
            </span>
            <span class="d-flex gap-1 align-items-center">
                <div class="bg-attention border border-dark" style="width: 20px; height: 20px;"></div>
                < 7 dagar
            </span>
            <span class="d-flex gap-1 align-items-center">
                <div class="bg-default border border-dark" style="width: 20px; height: 20px;"></div>
                > 7 dagar
            </span>
        </div>
        <form  method="get" asp-action="Index" asp-controller="UserFoodItems" class="filter-group">
            <div class="filter-search">
                <i class="bi bi-search"></i>
                <input type="search" value="@(ViewBag.searchPrompt != null ? ViewBag.searchPrompt : "")" placeholder="Sök efter en matvara..." name="searchPrompt">
            </div>
            <select class="filter-dropdown" name="category">
                <option value="default">Alla</option>
                @foreach (var category in (List<FoodCategory>)ViewData["categories"])
                {
                    <option value="@category.Name"  selected="@(ViewBag.category != null ? category.Name == ViewBag.category : false)">@category.Name</option>
                }
            </select>
            <select class="filter-dropdown" name="filter">
                <option value="default" selected="@(ViewBag.filter != null ? ViewBag.filter == "default" : false)">Inget valt</option>
                <option value="expiration_date" selected="@(ViewBag.filter != null ? ViewBag.filter == "expiration_date" : false)">Utgångsdatum</option>
                <option value="quantity" selected="@(ViewBag.filter != null ? ViewBag.filter == "quantity" : false)">Mängd</option>
                <option value="unit" selected="@(ViewBag.filter != null ? ViewBag.filter == "unit" : false)">Enhet</option>
            </select>
            <button class="btn-standard" type="submit">Applicera</button>
        </form>
    </div>

@* Grid with all of the food items *@
<div class="food-item-grid">
    <a class=" add-btn" asp-action="Add" asp-controller="UserFoodItems">
        <div class="card rounded-5" style="border-radius: 1.25rem; height: 100%; border: 3px dotted green;">
            <div class="card-body d-flex justify-content-center align-items-center">
                <i class="bi bi-plus-lg" style="font-size: 4rem; color: green;"></i>
            </div>
        </div>
    </a>  
    @* All food item cards *@
    @foreach (var item in Model)
    {
        <div>
            <div class="card rounded-5 bg-@item?.StatusLevel()" style="border-radius: 1.25rem; height: 100%;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="d-flex justify-content-between">
                            @* Quantity *@
                            <h2 class="bg-@item?.StatusLevel() card-title mb-0" id="">
                                @(
                                    item?.UserFoodItems?.Count == 1 
                                    ? item.UserFoodItems[0].ConvertedQuantity.ToString() + item.UserFoodItems[0].UnitInfo.Unit 
                                    : 
                                    Convert.ToDouble(item.SumOfQuantities) + (item?.UserFoodItems?[0].UnitInfo.Type == "weight" 
                                        ? "kg" 
                                        : (item?.UserFoodItems?[0].UnitInfo.Type == "volume" 
                                            ? "L" 
                                            : item?.UserFoodItems?[0].UnitInfo.Unit)))
                            </h2>
                            @* Delete button *@
                            <form method="post" asp-action="Delete" asp-controller="UserFoodItems">
                                <input type="hidden" value="@item?.UserFoodItems?[0].FoodDetails.FoodItemId" name="foodId">
                                <input type="hidden" value="@item?.UserFoodItems?[0].FoodDetails.UserId" name="userId">
                                <input type="hidden" value="@item?.UserFoodItems?[0].UnitInfo.Type" name="type">
                                <button type="submit" class="action-btn"><i class="bi bi-trash3" style="font-size: 1.2rem;"></i></button>
                            </form>
                        </div>
                        <div class="d-flex justify-content-between">
                            @* Foot item name *@
                            <h6 class="card-title mt-0 ">@item?.FoodItemName</h6>
                            @* Shows increase and decrease buttons for the food items with only one occurrence *@
                            @if (item?.UserFoodItems?.Count == 1){
                                <div class="d-flex">
                                    <form method="post" asp-action="DecreaseQuantity" id="increase-quantity-form">
                                        <input type="hidden" value="@item.UserFoodItems[0].FoodDetails.Id" name="id">
                                        <input type="hidden" value="@item.UserFoodItems[0].UnitInfo.Multiplier" name="unitMultiplier">
                                        <input type="hidden" value="@item.UserFoodItems[0].FoodDetails.Quantity" name="quantity">
                                        <input type="hidden" value="@item.UserFoodItems[0].UnitInfo.Unit" name="unit">
                                        @if (@item.UserFoodItems[0].FoodDetails.Quantity <= 0)
                                        {
                                            <button type="submit" class="action-btn"><i class="bi bi-dash" style="color: rgb(176, 176, 176);"></i></button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="action-btn"><i class="bi bi-dash"></i></button>
                                        }
                                    </form>
                                    <form method="post" asp-action="IncreaseQuantity">
                                        <input type="hidden" value="@item.UserFoodItems[0].FoodDetails.Id" name="id">
                                        <input type="hidden" value="@item.UserFoodItems[0].UnitInfo.Multiplier" name="unitMultiplier">
                                        <input type="hidden" value="@item.UserFoodItems[0].FoodDetails.Quantity" name="quantity">
                                        <input type="hidden" value="@item.UserFoodItems[0].UnitInfo.Unit" name="unit">
                                        <button type="submit" class="action-btn"><i class="bi bi-plus"></i></button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                    @* Shows more information for the food items with more than one occurrence, such as accordion and buttons*@
                    @if (item?.UserFoodItems?.Count != 1)
                    {
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button acc-btn collapsed bg-@item?.StatusLevel() p-0" type="button" data-bs-toggle="collapse" data-bs-target="#@item?.FoodItemName">
                                    <small>Utgångsdatum</small>
                                </button>
                            </h2>
                            <div id="@item?.FoodItemName" class="accordion-collapse collapse @(ViewBag.showAccordionName == @item?.FoodItemName ? "show" : "")" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body bg-@item?.StatusLevel() p-0">
                                    @if (item?.UserFoodItems != null)
                                    {
                                        @foreach (var foodItem in item.UserFoodItems)
                                        {
                                            <div class="d-flex align-items-center border-bottom py-2 border-dark justify-content-between">
                                                <p class="m-0"><small>@foodItem.FoodDetails.ExpirationDate (@foodItem.ConvertedQuantity@foodItem.UnitInfo.Unit)</small></p>
                                                <div class="d-flex">
                                                    <form method="post" asp-action="DecreaseQuantity">
                                                        <input type="hidden" value="@foodItem.FoodDetails.Id" name="id">
                                                        <input type="hidden" value="@foodItem.UnitInfo.Multiplier" name="unitMultiplier">
                                                        <input type="hidden" value="@foodItem.FoodDetails.Quantity" name="quantity">
                                                        <input type="hidden" value="@foodItem.UnitInfo.Unit" name="unit">
                                                        <input type="hidden" value="@item.FoodItemName" name="showAccordionName">
                                                        <input type="hidden" value="true" name="canDelete">
                                                        <button type="submit" class="action-btn">
                                                            @if (@foodItem.FoodDetails.Quantity <= 0)
                                                            {
                                                                <i class="bi bi-trash3"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="bi bi-dash"></i>
                                                            }
                                                        </button>
                                                    </form>
                                                    <form method="post" asp-action="IncreaseQuantity">
                                                        <input type="hidden" value="@foodItem.FoodDetails.Id" name="id">
                                                        <input type="hidden" value="@foodItem.UnitInfo.Multiplier" name="unitMultiplier">
                                                        <input type="hidden" value="@foodItem.FoodDetails.Quantity" name="quantity">
                                                        <input type="hidden" value="@foodItem.UnitInfo.Unit" name="unit">
                                                        <input type="hidden" value="@item.FoodItemName" name="showAccordionName">
                                                        <button type="submit" class="action-btn"><i class="bi bi-plus"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Shows expiration date for food items with one occurence *@
                    } else
                    {
                        <div class="d-flex align-items-center justify-content-between">
                            @* Shows form to add expiration date for food item without expiration date*@
                            @if (item.UserFoodItems[0].FoodDetails.ExpirationDate == new DateOnly())
                            {
                                <form method="post" asp-action="AddExpirationDate" asp-controller="UserFoodItems" class="new-date-form">
                                    <input type="hidden" name="id" value="@item.UserFoodItems[0].FoodDetails.Id"/>
                                    <input type="date" name="expirationDate"/>
                                    <button type="submit" class="action-btn"><i class="bi bi-check-lg"></i></button>
                                </form>
                            }
                            else
                            {
                                <p class="m-0"><small>@item.UserFoodItems[0].FoodDetails.ExpirationDate</small></p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>  
    }
</div>