@{
    var links = new List<(string controller, string action, string name)> 
    {
        ("UserFoodItems", "Index", "Mina Matvaror"),
        ("Recipe", "MyRecipes", "Mina Recept"),
        ("GroceryList", "Index", "Inköpslista"),
        ("Recipe", "Index", "Recept")
    };
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MatKollen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MatKollen.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand">MatKollen</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="link-container" style="width: 100%;">
                        <ul class="navbar-nav">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    foreach (var link in links)
                                    {
                                    <li class="nav-item">
                                        <a asp-action="@link.action" asp-controller="@link.controller" class="@(ViewData["Title"] == link.name ? "active-nav-item" : "")">@link.name</a>
                                    </li>
                                    }
                                }
                            }
                        </ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-outline-success"> Logga ut</button>
                            </form>
                        } else {
                            <a href="Account/Login" class="btn btn-outline-success"> Logga in</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications"/>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MatKollen - Saga Lannerhjelm
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
