@model List<GroceryListViewModel>

@{
    ViewData["Title"] = "Inköpslista";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Count > 0) {
    <ul class="p-0" style="list-style: none;">
        @{
            foreach(var item in Model)
            {
                <li class="my-3 d-flex align-items-center">
                    <form method="post" asp-action="MarkAsComplete" asp-controller="GroceryList">
                        <button type="submit" style="background-color: transparent; border: none;" class="d-flex align-items-center gap-2">
                            <input type="hidden" name="id" value="@item.FoodDetails.Id">
                            <input type="hidden" name="completed" value="@item.FoodDetails.Completed.ToString()">
                            <i class="bi bi-@(item.FoodDetails.Completed ? "check-circle" : "circle")" style="font-size: 1.5rem; @(item.FoodDetails.Completed ? "color: var(--main-color)" : "")"></i>
                            <span style="border-radius: 99px;">
                                <span style="@(item.FoodDetails.Completed ? "text-decoration: line-through" : "")">@item.ConvertedQuantity@item.Unit @item.FoodItemName</span>
                            </span>
                        </button>
                    </form>
                    <form method="post" asp-action="Delete" style="display: inline;">
                        <input type="hidden" name="id" value="@item.FoodDetails.Id">
                        <button type="submit" class="action-btn"><i class="bi bi-trash3"></i></button>
                    </form>
                </li>
            }
        }
        <li class="my-3 d-flex align-items-center">
            <a asp-action="AddItemToGroceryList" asp-controller="GroceryList" style="background-color: transparent; border: none; color: gray;" class="d-flex align-items-center gap-3">
                <i class="bi bi-plus-circle-dotted" style="font-size: 1.5rem;"></i>
                <span style="border-radius: 99px;">
                    <span>Lägg till ny rad...</span>
                </span>
            </a>
        </li>
    </ul>
    if (Model.Any(i => i.FoodDetails.Completed))
    {
        <form method="post" asp-action="AddCompletedItemsToUserInventory">
            <button type="submit" class="btn btn-primary">Lägg till klarmarkerade varor!</button>
        </form>
    }
} else {
    <p>Du har inga varor i inköpslistan än.</p>
}


