@model RecipeDetailsViewModel

@{
    ViewData["Title"] = "Recept detalj";
}

<h2>@ViewData["Title"]</h2>

<h4>@Model.Recipe.Title</h4>
<p><small>@Model.Recipe.CreatedAt</small> by user @Model.Username</p>
<p>@Model.Recipe.Description</p>

<p>Ingredienser:</p>

@{
    if(Model.Ingredients.Count != 0)
    {
        foreach(var item in Model.Ingredients)
        {
            <div class="my-4" style="@(item.UserHasIngredient ? "" : "text-decoration: line-through; color: maroon;")">
                <span style="padding: 10px; border-radius: 99px;" class="bg-custom"><strong>@item.ConvertedQuantity@item.Unit</strong> @item.Ingredient
                <i class="bi bi-plus"></i>
                <i class="bi bi-dash"></i>
                <i class="bi bi-trash3"></i>
                </span>
            </div>
        }
        <form method="post" asp-action="AddFromRecipe" asp-controller="GroceryList">
            @{
                if(ViewBag.groceryListItemsExists.Count > 0)
                {
                    <p>Du har readan tillräckligt av dessa ingredienser i din inköpslista.</p>
                    <ul>
                        @foreach (var item in ViewBag.groceryListItemsExists)
                        {
                            <li>@item</li>
                        }
                    </ul>
                    <input type="checkbox" id="check">
                    <label for="check">Jag vill lägga till ingredienserna igen</label>
                }
            }
            <button class="btn-primary" type="submit">Lägg till det du saknar i inköpslista</button>
        </form>
    }
    else 
    {
        <p>Detta recept har inga ingredienser än.</p>

    }
}
