@model RecipeDetailsViewModel

@{
    ViewData["Title"] = "Recept detalj";
}

<h2>@ViewData["Title"]</h2>

<h4>@Model.Recipe.Title</h4>
<p><small>@Model.Recipe.CreatedAt</small> by user @Model.Username</p>
<p>@Model.Recipe.Description</p>

<p>Ingredienser:</p>
@{
    foreach(var item in Model.Ingredients)
    {
        <p><strong>@item.IngredientDetails.Amount@item.Unit</strong> @item.Ingredient</p>
    }
}