@model RecipeDetailsViewModel

@{
    ViewData["Title"] = "Recept detalj";
}
<div class="d-flex justify-content-between">
    <h4>@Model.Recipe.Title</h4>
    @if (ViewBag.user == Model.Recipe.UserId){
        <form method="get" asp-action="Edit" asp-controller="Recipe">
            <input type="hidden" name="id" value="@Model.Recipe.Id">
            <button type="submit" class="action-btn"><i class="bi bi-pencil" style="font-size: 1.2rem;"></i></button>
        </form>             
    }
</div>
<p><small>@Model.Recipe.CreatedAt</small> by user @Model.Username</p>
<p>@Model.Recipe.Description</p>

<h5>Ingredienser:</h5>

@{
    if(Model.Ingredients.Count != 0)
    {
        foreach(var item in Model.Ingredients)
        {
            <div class="my-4">
                <span style="padding: 10px; border-radius: 99px;" class=" @(item.UserHasIngredient ? "bg-custom" : "bg-out")">
                    <strong>@item.ConvertedQuantity@item.Unit</strong> @item.Ingredient
                </span>
            </div>
        }
        <form method="post" asp-action="AddFromRecipe" asp-controller="GroceryList">
            @{
                if(ViewBag.groceryListItemsExists.Count > 0)
                {
                    <p>Du har readan tillräckligt av dessa ingredienser i din inköpslista.</p>
                    <ul>
                        @foreach (var item in ViewBag.groceryListItemsExists)
                        {
                            <li>@item</li>
                        }
                    </ul>
                    <input type="checkbox" id="check">
                    <label for="check">Jag vill lägga till ingredienserna igen</label>
                }
            }
            <button class="btn-primary" type="submit">Lägg till det du saknar i inköpslista</button>
        </form>
    }
    else 
    {
        <p>Detta recept har inga ingredienser än.</p>

    }
}
