@model RecipeDetailsViewModel

@{
    ViewData["Title"] = "Recept detalj";
}
<div class="d-flex justify-content-between">
    <p><small>Publicerad @Model.Recipe.CreatedAt</small> av @Model.Username</p>
    <div class="d-flex flex-row">
        <form method="get" asp-action="Details" asp-controller="Recipe">
            <input type="hidden" name="id" value="@Model.Recipe.Id">
            <button type="submit" class="action-btn d-flex align-items-center gap-2"><small>G책 till detalj sidan</small><i class="bi bi-x-circle" style="font-size: 1.2rem;"></i></button>
        </form>
        <form method="post" asp-action="Delete" asp-controller="Recipe">
            <input type="hidden" name="id" value="@Model.Recipe.Id">
            <button type="submit" class="action-btn"><i class="bi bi-trash3" style="font-size: 1.2rem;"></i></button>
        </form>                 
    </div>
</div>
<form method="post" asp-controller="Recipe" asp-action="Edit" class="mb-4">
    <h4><input asp-for="Recipe.Title" value="@Model.Recipe.Title" style="width: 100%; border: 1px solid lightgray;"/></h4>
    <small>
        <div class="mb-3">
                    <select class="form-select" asp-for="@Model.Recipe.RecipeCategoryId">
                        @foreach (var category in (List<RecipeCategory>)ViewData["categories"])
                        {
                        <option value="@category.Id" selected="@(category.Id == Model.Recipe.RecipeCategoryId)">
                            @category.Name
                        </option>
                        }
                    </select>
                    @Html.ValidationMessageFor(m => m.Recipe.RecipeCategoryId, "", new { @class = "text-danger" })
        </div>
    </small>
    <p><textarea asp-for="Recipe.Description" value="@Model.Recipe.Description" rows="4" style="width: 100%; border: 1px solid lightgray;"></textarea></p>
    <input asp-for="Recipe.Id" value="@Model.Recipe.Id" type="hidden"/>
    <button type="submit" class="btn btn-primary btn-sm" type="submit">Spara 채ndringar</button>
</form>
    <h5>Ingredienser:</h5>

    @{
        if(Model.Ingredients.Count != 0)
        {
            @* <div> *@
            @foreach(var item in Model.Ingredients)
            {
                <div class="my-4">
                    <span style="padding: 10px; border-radius: 99px;" class="bg-custom align-items-center">
                        <strong><span id="quantity-@item.IngredientDetails.Id">@item.ConvertedQuantity</span> @item.UnitInfo.Unit</strong> @item.Ingredient
                        <button class="action-btn" onclick="updateQuantity(@item.IngredientDetails.Id, '@item.UnitInfo.Multiplier', '@item.UnitInfo.Unit', 'incr')"><i class="bi bi-plus" style="font-size: 1rem; margin: -2px;"></i></button>
                         <button class="action-btn" onclick="updateQuantity(@item.IngredientDetails.Id, '@item.UnitInfo.Multiplier', '@item.UnitInfo.Unit', 'decr')"><i class="bi bi-dash" style="font-size: 1rem; margin: -2px;"></i></button>
                        <form method="post" asp-controller="Recipe" asp-action="DeleteIngredient" style="display: inline;">
                            <input type="hidden" name="id" value="@item.IngredientDetails.Id">
                            <input type="hidden" name="recipeId" value="@Model.Recipe.Id">
                            <button class="action-btn"><i class="bi bi-trash" style="font-size: 1rem; margin: -2px;"></i></button>
                        </form>
                    </span>
                </div>
            }
            @* </div> *@
        }
        else 
        {
            <p>Detta recept har inga ingredienser 채n.</p>
        }
    }
    <a class="btn btn-outline-primary btn-sm" type="submit" asp-controller="Recipe" asp-action="AddIngredient" asp-route-recipeId="@Model.Recipe.Id" asp-route-title="@Model.Recipe.Title">L채gg till en ny ingrediens</a>



@section Scripts{
    <script>
        function updateQuantity(id, unitMultiplier, unit, type) {
            const quantity = parseInt(document.getElementById(`quantity-${id}`).innerText);
            if ((quantity > 0 && type === "decr") || type === "incr") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateQuantity", "Recipe")',
                    data: {
                        id: id,
                        unitMultiplier: unitMultiplier,
                        unit: unit,
                        type: type,
                    },
                    success: function (response) {
                        const updatedQuantity = response.value;
                        const quantity = document.getElementById(`quantity-${id}`);

                        quantity.innerText = updatedQuantity;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        };
    </script>
}

