@model List<RecipeDetailsViewModel>
@{
    ViewData["Title"] = "Recept";
}

<h2>@ViewData["Title"]</h2>

@{
    foreach(var recipe in Model)
    {
        <a class="card rounded-5" href="Details/@recipe.Recipe.Id">
            <div class="card-body">
                <h4 class="card-title">@recipe.Recipe.Title</h4>
                 <small>@recipe.Recipe.CreatedAt by @recipe.Username</small>
                 <p>@recipe.Recipe.Description</p>
                 <small><em>@recipe.Category</em></small>
            </div>

        </a>
    }
}